{% extends 'base.html' %}
{% block title %}User detail{% endblock %}
{% block content %}
<h2>{{user.full_name}}</h2>
<img src="{{user.img_url}}" class="img-thumbnail">
<a class="btn btn-primary" href="/users/{{user.id}}/edit" role="button">Edit</a>

<form method="post" action="/users/{{user.id}}/delete" class="inline">
  <input type="hidden" name="extra_submit_param" value="extra_submit_value">
  <button type="submit" name="submit_param" class="btn btn-danger">
    Delete
  </button>
</form>

<h2>Posts</h2>
<ul>
  {% for post in user_posts %}
  <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
  {% endfor %}
</ul>

<a class="btn btn-outline-info" href="/" role="button">Cancel</a>
<a class=" btn btn-primary" href="/users/{{user.id}}/posts/new" role="button">Add Post</a>

{% endblock %}
