{% extends 'base.html' %}
{% block title %}User detail{% endblock %}
{% block content %}
<h2>{{user.full_name}}</h2>
<img src="{{user.img_url}}" class="img-thumbnail">
<a class="btn btn-primary" href="/users/{{user.id}}/edit" role="button">Edit</a>

<form method="post" action="/users/{{user.id}}/delete" class="inline">
  <input type="hidden" name="extra_submit_param" value="extra_submit_value">
  <button type="submit" name="submit_param" class="btn btn-danger">
    Delete
  </button>
</form>
{% endblock %}
