{% extends 'base.html' %}
{% block title %}Tagged Posts{% endblock %}
{% block content %}

<h1>{{tag.name}}</h1>
<ul>
  {% for post in posts %}
  <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
  {% endfor %}
</ul>
<a class="btn btn-primary" href="/tags/{{tag.id}}/edit" role="button">Edit</a>

<form method="post" action="" class="inline">
  <input type="hidden" name="extra_submit_param" value="extra_submit_value">
  <button type="submit" name="submit_param" class="btn btn-danger">
    Delete
  </button>
</form>
{% endblock %}
