{% extends 'base.html' %}
{% block title %}User post{% endblock %}
{% block content %}

<h1>{{post.title}}</h1>
<p>{{post.content}}</p>
<p>by {{user.full_name}} on {{post.created_at}}</p>

<p><b>Tags:</b>{% for tag_name in tag_names%}
  {{tag_name}}
  {% endfor %}
</p>

<a class="btn btn-outline-info" href="/" role="button">Cancel</a>
<a class="btn btn-primary" href="/posts/{{post.id}}/edit" role="button">Edit</a>
<form method="post" action="/posts/{{post.id}}/delete" class="inline">
  <input type="hidden" name="extra_submit_param" value="extra_submit_value">
  <button type="submit" name="submit_param" class="btn btn-danger">
    Delete
  </button>
</form>
{% endblock %}
